files:
  "/etc/logrotate.d/webapp":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/web.stdout.log {
        daily
        rotate 1
        missingok
        notifempty
        compress
        delaycompress
        copytruncate
      }
      /var/log/eb-engine.log {
        daily
        rotate 1
        missingok
        notifempty
        compress
        delaycompress
        copytruncate
      }
      /var/log/nginx/*.log {
        daily
        rotate 1
        missingok
        notifempty
        compress
        delaycompress
        sharedscripts
        postrotate
          [ -f /var/run/nginx.pid ] && kill -USR1 `cat /var/run/nginx.pid`
        endscript
      }

commands:
  01_force_logrotate:
    command: "/usr/sbin/logrotate -f /etc/logrotate.d/webapp"
    ignoreErrors: true
